<!DOCTYPE html>
<html lang="es">
  {% load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>

    <!-- Integracion con boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- Integracion CSS -->
    <link rel="stylesheet" href="{% static 'fromagerie/css/styleContact.css'%}">
    <!-- Integracion con fontawesome -->
    <script src="https://kit.fontawesome.com/ab6bee0ad1.js" crossorigin="anonymous"></script>
  </head>
<body>
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
      <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}"><span style="color: #5e9693;">Quesería Duoc UC</span></a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'shop' %}">Tienda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'intranet' %}">intranet</a>
              </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row">
              <li class="nav-item me-3 me-lg-0">
                <a class="nav-link" href="shoppingCart.html">
                  <i class="fas fa-shopping-cart"></i>
                </a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                <a class="nav-link" href="{% url 'login' %}">
                  <i class="fa fa-user"></i>
                </a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                <a class="nav-link" href="https://www.instagram.com">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Navbar -->
      </header>

      <div class="contact_form">
        <div class="formulario">      
            <h1>Formulario de contacto</h1>
            <h3>Escríbenos y en breve nos pondremos en contacto contigo</h3>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        <label for="{{ field.id_for_label }}" class="colocar_{{ field.name }}">
                            {{ field.label }}
                            {% if field.field.required %}
                                <span class="obligatorio">*</span>
                            {% endif %}
                        </label>
                        {{ field }}
                    </p>
                {% endfor %}
                <button type="submit" name="enviar_formulario" class="my-2" id="enviar"><p>Enviar</p></button>
                <button type="button" class="btn btn-secondary my-2" id="limpiarFormulario">Limpiar</button>
            </form>
        </div>  
    </div>
    

  <div class="container-large mt-5">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #3f51b5">
      
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: #ab4493;"
           >
        © 2020 Copyright:
        <a class="text-white" href="#"
           >QuesosDUOC</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->

</body>
  <!-- Integracion con Jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Integracion js personal -->
  <script src="{% static 'fromagerie/js/fromulario.js'%}"></script>
  <!-- Integracion con boostrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>
